@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(95, 42, 238);
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
}

.containerP{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    height: 400px;
    width: 600px;
    border-radius: 5px;
    /* overflow: hidden; */
    color: #fff;
    text-shadow: 3px 3px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

span{
    color: rgb(1, 255, 208);
}

.container2 {
    height: 400px;
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 7px 7px 7px ;
}

.menu {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 70%
}

.container1 button{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 7px;
}

.container1 button:hover {
    transform: scale(1.05);
    box-shadow: 1px 3px 20px;
}

.menu button{
    border-radius: 5px;
    border: none;
    margin: auto;
    height: 40px;
    width: 100px;
}

.box{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('./images/BG-2-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.city-name{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.display {
    height: 50%;
    width: 50%;
    border: 0.5px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px;
    background-color:rgba(0, 0, 0, 0.5);
}

.details{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    text-shadow: 3px 3px 10px black;
}

.logo{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}



.footer{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    letter-spacing: 4px;
}

#icons{
    height: 25px;
    width: 25px;
}

#weather-icon .fas {
    font-size: 6rem;
    animation: fas-anime 3s linear infinite alternate;
}

@keyframes fas-anime {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 688px)  {
    .display{
        display: flex;
        flex-direction: column;
    }
}